@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">InClub Evaluation - Giancarlo Villena</h1>
    <p>Utilice los botones Register y Login de la parte superior.</p>
</div>
